parameters:
	ignoreErrors:
		-
			rawMessage: 'Method kristijorgji\DbToPhp\Config\ConfigFactory::get() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Config/ConfigFactory.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Console\Commands\AbstractCommand::getConfig() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Console/Commands/AbstractCommand.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Console\Commands\AbstractCommand::setConfig() has parameter $config with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Console/Commands/AbstractCommand.php

		-
			rawMessage: Property kristijorgji\DbToPhp\Console\Commands\AbstractCommand::$config type has no value type specified in iterable type array.
			identifier: missingType.iterableValue
			count: 1
			path: src/Console/Commands/AbstractCommand.php

		-
			rawMessage: 'Argument of an invalid type $this(kristijorgji\DbToPhp\Data\AbstractEntity) supplied for foreach, only iterables are supported.'
			identifier: foreach.nonIterable
			count: 1
			path: src/Data/AbstractEntity.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Data\AbstractEntity::dirtyFields() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Data/AbstractEntity.php

		-
			rawMessage: Property kristijorgji\DbToPhp\Data\AbstractEntity::$__original type has no value type specified in iterable type array.
			identifier: missingType.iterableValue
			count: 1
			path: src/Data/AbstractEntity.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Data\AbstractEntityFactory::mapArrayToEntity() has parameter $data with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Data/AbstractEntityFactory.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Data\AbstractEntityFactory::randomArray() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Data/AbstractEntityFactory.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Data\AbstractEntityFactory::validateData() has parameter $data with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Data/AbstractEntityFactory.php

		-
			rawMessage: PHPDoc tag @param for parameter $values contains unresolvable type.
			identifier: parameter.unresolvableType
			count: 1
			path: src/Data/AbstractEntityFactory.php

		-
			rawMessage: Property kristijorgji\DbToPhp\Data\AbstractEntityFactory::$fields type has no value type specified in iterable type array.
			identifier: missingType.iterableValue
			count: 1
			path: src/Data/AbstractEntityFactory.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Db\Adapters\DatabaseAdapterFactory::get() has parameter $config with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Db/Adapters/DatabaseAdapterFactory.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Db\Adapters\DatabaseAdapterInterface::getTables() return type has no value type specified in iterable type kristijorgji\DbToPhp\Db\TablesCollection.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Db/Adapters/DatabaseAdapterInterface.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Db\Adapters\MySql\MySqlAdapter::getTables() return type has no value type specified in iterable type kristijorgji\DbToPhp\Db\TablesCollection.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Db/Adapters/MySql/MySqlAdapter.php

		-
			rawMessage: Property kristijorgji\DbToPhp\Db\Fields\DateField::$formats type has no value type specified in iterable type array.
			identifier: missingType.iterableValue
			count: 1
			path: src/Db/Fields/DateField.php

		-
			rawMessage: PHPDoc tag @param for parameter $fields contains generic type kristijorgji\DbToPhp\Db\Fields\Field<kristijorgji\DbToPhp\Db\Fields\Field> but class kristijorgji\DbToPhp\Db\Fields\Field is not generic.
			identifier: generics.notGeneric
			count: 1
			path: src/Db/Fields/FieldsCollection.php

		-
			rawMessage: 'Class kristijorgji\DbToPhp\Db\TablesCollection implements generic interface IteratorAggregate but does not specify its types: TKey, TValue'
			identifier: missingType.generics
			count: 1
			path: src/Db/TablesCollection.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Db\TablesCollection::getIterator() return type has no value type specified in iterable type Traversable.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Db/TablesCollection.php

		-
			rawMessage: PHPDoc tag @param for parameter $fields contains generic type kristijorgji\DbToPhp\Db\Table<kristijorgji\DbToPhp\Db\Table> but class kristijorgji\DbToPhp\Db\Table is not generic.
			identifier: generics.notGeneric
			count: 1
			path: src/Db/TablesCollection.php

		-
			rawMessage: PHPDoc tag @param for parameter $fields contains generic type kristijorgji\DbToPhp\Generators\Php\PhpEntityFactoryField<kristijorgji\DbToPhp\Generators\Php\PhpEntityFactoryField> but class kristijorgji\DbToPhp\Generators\Php\PhpEntityFactoryField is not generic.
			identifier: generics.notGeneric
			count: 1
			path: src/Generators/Php/PhpEntityFactoryFieldsCollection.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Generators\Php\PhpEntityGenerator::__construct() has parameter $properties with no value type specified in iterable type kristijorgji\DbToPhp\Rules\Php\PhpPropertiesCollection.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Generators/Php/PhpEntityGenerator.php

		-
			rawMessage: 'Property kristijorgji\DbToPhp\Generators\Php\PhpMethodAnnotationGenerator::$typeHint is never read, only written.'
			identifier: property.onlyWritten
			count: 1
			path: src/Generators/Php/PhpMethodAnnotationGenerator.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Generators\Php\PhpSetterGenerator::__construct() has parameter $extraLines with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Generators/Php/PhpSetterGenerator.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Managers\GenerateResponse::getPaths() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Managers/GenerateResponse.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Managers\ManagerFactory::get() has parameter $config with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Managers/ManagerFactory.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Managers\Php\AbstractPhpManager::filterTables() has parameter $tables with no value type specified in iterable type kristijorgji\DbToPhp\Db\TablesCollection.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Managers/Php/AbstractPhpManager.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Managers\Php\AbstractPhpManager::filterTables() return type has no value type specified in iterable type kristijorgji\DbToPhp\Db\TablesCollection.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Managers/Php/AbstractPhpManager.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Managers\Php\AbstractPhpManager::formTablesMap() has parameter $tablesCollection with no value type specified in iterable type kristijorgji\DbToPhp\Db\TablesCollection.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Managers/Php/AbstractPhpManager.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Managers\Php\AbstractPhpManager::formTablesMap() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Managers/Php/AbstractPhpManager.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Managers\Php\PhpEntityFactoryManager::__construct() has parameter $config with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Managers/Php/PhpEntityFactoryManager.php

		-
			rawMessage: 'Class kristijorgji\DbToPhp\Generators\Php\Configs\PhpClassGeneratorConfig constructor invoked with 5 parameters, 3-4 required.'
			identifier: arguments.count
			count: 1
			path: src/Managers/Php/PhpEntityManager.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Managers\Php\PhpEntityManager::__construct() has parameter $config with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Managers/Php/PhpEntityManager.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Managers\Php\PhpEntityManager::formProperties() return type has no value type specified in iterable type kristijorgji\DbToPhp\Rules\Php\PhpPropertiesCollection.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Managers/Php/PhpEntityManager.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Managers\Php\PhpManager::__construct() has parameter $config with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Managers/Php/PhpManager.php

		-
			rawMessage: 'Call to an undefined method kristijorgji\DbToPhp\Db\Fields\Field::getLengthInBytes().'
			identifier: method.notFound
			count: 1
			path: src/Managers/Php/Resolvers/PhpEntityFactoryFieldFunctionResolver.php

		-
			rawMessage: PHPDoc tag @param for parameter $properties contains generic type kristijorgji\DbToPhp\Rules\Php\PhpFunctionParameter<kristijorgji\DbToPhp\Rules\Php\PhpFunctionParameter> but class kristijorgji\DbToPhp\Rules\Php\PhpFunctionParameter is not generic.
			identifier: generics.notGeneric
			count: 1
			path: src/Rules/Php/PhpFunctionParametersCollection.php

		-
			rawMessage: 'Class kristijorgji\DbToPhp\Rules\Php\PhpPropertiesCollection implements generic interface IteratorAggregate but does not specify its types: TKey, TValue'
			identifier: missingType.generics
			count: 1
			path: src/Rules/Php/PhpPropertiesCollection.php

		-
			rawMessage: 'Method kristijorgji\DbToPhp\Rules\Php\PhpPropertiesCollection::getIterator() return type has no value type specified in iterable type Traversable.'
			identifier: missingType.iterableValue
			count: 1
			path: src/Rules/Php/PhpPropertiesCollection.php

		-
			rawMessage: PHPDoc tag @param for parameter $properties contains generic type kristijorgji\DbToPhp\Rules\Php\PhpProperty<kristijorgji\DbToPhp\Rules\Php\PhpProperty> but class kristijorgji\DbToPhp\Rules\Php\PhpProperty is not generic.
			identifier: generics.notGeneric
			count: 1
			path: src/Rules/Php/PhpPropertiesCollection.php

		-
			rawMessage: PHPDoc tag @param for parameter $fields contains unresolvable type.
			identifier: parameter.unresolvableType
			count: 1
			path: src/Support/StringCollection.php

		-
			rawMessage: 'Method kristijorgji\Tests\Factories\BaseFactory::getExpected() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/factories/BaseFactory.php

		-
			rawMessage: 'Method kristijorgji\Tests\Factories\BaseFactory::objectToArray() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/factories/BaseFactory.php

		-
			rawMessage: 'PHPDoc tag @return has invalid value (DoubleField()): Unexpected token "(", expected TOKEN_HORIZONTAL_WS at offset 30 on line 2'
			identifier: phpDoc.parseError
			count: 1
			path: tests/factories/Db/Fields/DoubleFieldFactory.php

		-
			rawMessage: Property kristijorgji\Tests\Factories\Db\Fields\FieldFactory::$factories type has no value type specified in iterable type array.
			identifier: missingType.iterableValue
			count: 1
			path: tests/factories/Db/Fields/FieldFactory.php

		-
			rawMessage: 'Method kristijorgji\Tests\Factories\Db\TablesCollectionFactory::make() return type has no value type specified in iterable type kristijorgji\DbToPhp\Db\TablesCollection.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/factories/Db/TablesCollectionFactory.php

		-
			rawMessage: Property kristijorgji\Tests\Helpers\MySqlTestCase::$mysqlConnection type has no value type specified in iterable type array.
			identifier: missingType.iterableValue
			count: 1
			path: tests/helpers/MySqlTestCase.php

		-
			rawMessage: 'Method kristijorgji\Tests\Helpers\TestCase::getExpected() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/helpers/TestCase.php

		-
			rawMessage: 'Method kristijorgji\Tests\Helpers\TestCase::objectToArray() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/helpers/TestCase.php

		-
			rawMessage: 'Method kristijorgji\IntegrationTests\MySql\Php\PhpGenerateEntitiesTest::testGenerateEntities() has parameter $config with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/integration/MySql/Php/PhpGenerateEntitiesTest.php

		-
			rawMessage: 'Method kristijorgji\IntegrationTests\MySql\Php\PhpGenerateFactoriesTest::testGenerateFactories() has parameter $config with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/integration/MySql/Php/PhpGenerateFactoriesTest.php

		-
			rawMessage: PHPDoc tag @var for property kristijorgji\UnitTests\Console\Commands\AbstractCommandTest::$configFactory with type kristijorgji\UnitTests\Console\Commands\PHPUnit\Framework\MockObject\MockObject is not subtype of native type PHPUnit\Framework\MockObject\MockObject.
			identifier: property.phpDocType
			count: 1
			path: tests/unit/Console/Commands/AbstractCommandTest.php

		-
			rawMessage: 'Property kristijorgji\UnitTests\Console\Commands\AbstractCommandTest::$appName is never read, only written.'
			identifier: property.onlyWritten
			count: 1
			path: tests/unit/Console/Commands/AbstractCommandTest.php

		-
			rawMessage: Property kristijorgji\UnitTests\Console\Commands\AbstractCommandTest::$configFactory has unknown class kristijorgji\UnitTests\Console\Commands\PHPUnit\Framework\MockObject\MockObject as its type.
			identifier: class.notFound
			count: 1
			path: tests/unit/Console/Commands/AbstractCommandTest.php

		-
			rawMessage: PHPDoc tag @var for property kristijorgji\UnitTests\Console\Commands\AbstractCommandTestCase::$configFactory with type kristijorgji\UnitTests\Console\Commands\PHPUnit\Framework\MockObject\MockObject is not subtype of native type PHPUnit\Framework\MockObject\MockObject.
			identifier: property.phpDocType
			count: 1
			path: tests/unit/Console/Commands/AbstractCommandTestCase.php

		-
			rawMessage: Property kristijorgji\UnitTests\Console\Commands\AbstractCommandTestCase::$configFactory has unknown class kristijorgji\UnitTests\Console\Commands\PHPUnit\Framework\MockObject\MockObject as its type.
			identifier: class.notFound
			count: 1
			path: tests/unit/Console/Commands/AbstractCommandTestCase.php

		-
			rawMessage: 'Call to an undefined method kristijorgji\DbToPhp\Console\Commands\GenerateEntitiesCommand::expects().'
			identifier: method.notFound
			count: 2
			path: tests/unit/Console/Commands/GenerateEntitiesCommandTest.php

		-
			rawMessage: 'Method kristijorgji\UnitTests\Console\Commands\GenerateEntitiesCommandTest::mockSelf() has parameter $methodsToMock with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Console/Commands/GenerateEntitiesCommandTest.php

		-
			rawMessage: 'Parameter #1 $configFactory of class kristijorgji\DbToPhp\Console\Commands\GenerateEntitiesCommand constructor expects kristijorgji\DbToPhp\Config\ConfigFactory, PHPUnit\Framework\MockObject\MockObject given.'
			identifier: argument.type
			count: 1
			path: tests/unit/Console/Commands/GenerateEntitiesCommandTest.php

		-
			rawMessage: 'Call to an undefined method kristijorgji\DbToPhp\Console\Commands\GenerateFactoriesCommand::expects().'
			identifier: method.notFound
			count: 2
			path: tests/unit/Console/Commands/GenerateFactoriesCommandTest.php

		-
			rawMessage: 'Method kristijorgji\UnitTests\Console\Commands\GenerateFactoriesCommandTest::mockSelf() has parameter $methodsToMock with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Console/Commands/GenerateFactoriesCommandTest.php

		-
			rawMessage: 'Parameter #1 $configFactory of class kristijorgji\DbToPhp\Console\Commands\GenerateFactoriesCommand constructor expects kristijorgji\DbToPhp\Config\ConfigFactory, PHPUnit\Framework\MockObject\MockObject given.'
			identifier: argument.type
			count: 1
			path: tests/unit/Console/Commands/GenerateFactoriesCommandTest.php

		-
			rawMessage: 'Call to method PHPUnit\Framework\Assert::assertTrue() with true will always evaluate to true.'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/unit/Data/AbstractEntityFactoryTest.php

		-
			rawMessage: Left side of && is always true.
			identifier: booleanAnd.leftAlwaysTrue
			count: 1
			path: tests/unit/Data/AbstractEntityFactoryTest.php

		-
			rawMessage: Right side of && is always true.
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: tests/unit/Data/AbstractEntityFactoryTest.php

		-
			rawMessage: Class Entities\Test2Entity not found.
			identifier: class.notFound
			count: 1
			path: tests/unit/Data/Test2EntityFactory.php

		-
			rawMessage: 'Method kristijorgji\UnitTests\Data\Test2EntityFactory::make() has invalid return type Entities\Test2Entity.'
			identifier: class.notFound
			count: 1
			path: tests/unit/Data/Test2EntityFactory.php

		-
			rawMessage: 'Method kristijorgji\UnitTests\Data\Test2EntityFactory::make() has parameter $data with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Data/Test2EntityFactory.php

		-
			rawMessage: 'Method kristijorgji\UnitTests\Data\Test2EntityFactory::makeData() has parameter $data with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Data/Test2EntityFactory.php

		-
			rawMessage: 'Method kristijorgji\UnitTests\Data\Test2EntityFactory::makeData() return type has no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Data/Test2EntityFactory.php

		-
			rawMessage: 'Method kristijorgji\UnitTests\Data\Test2EntityFactory::makeFromData() has invalid return type Entities\Test2Entity.'
			identifier: class.notFound
			count: 1
			path: tests/unit/Data/Test2EntityFactory.php

		-
			rawMessage: 'Method kristijorgji\UnitTests\Data\Test2EntityFactory::makeFromData() has parameter $data with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Data/Test2EntityFactory.php

		-
			rawMessage: Property kristijorgji\UnitTests\Data\Test2EntityFactory::$fields type has no value type specified in iterable type array.
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Data/Test2EntityFactory.php

		-
			rawMessage: 'Method kristijorgji\UnitTests\Generators\Php\PhpEntityGeneratorTest::getSampleProperties() return type has no value type specified in iterable type kristijorgji\DbToPhp\Rules\Php\PhpPropertiesCollection.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Generators/Php/PhpEntityGeneratorTest.php

		-
			rawMessage: 'Method kristijorgji\UnitTests\Generators\Php\PhpGetterGeneratorTest::getSampleProperties() return type has no value type specified in iterable type kristijorgji\DbToPhp\Rules\Php\PhpPropertiesCollection.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Generators/Php/PhpGetterGeneratorTest.php

		-
			rawMessage: 'Method kristijorgji\UnitTests\Generators\Php\PhpPropertyGeneratorTest::getSampleProperties() return type has no value type specified in iterable type kristijorgji\DbToPhp\Rules\Php\PhpPropertiesCollection.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Generators/Php/PhpPropertyGeneratorTest.php

		-
			rawMessage: 'Method kristijorgji\UnitTests\Generators\Php\PhpSetterGeneratorTest::getSampleProperties() return type has no value type specified in iterable type kristijorgji\DbToPhp\Rules\Php\PhpPropertiesCollection.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Generators/Php/PhpSetterGeneratorTest.php

		-
			rawMessage: 'Method kristijorgji\UnitTests\Managers\ManagerFactoryTest::testGet() has parameter $config with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Managers/ManagerFactoryTest.php

		-
			rawMessage: PHPDoc tag @var for property kristijorgji\UnitTests\Managers\ManagerFactoryTest::$databaseAdapterFactory with type kristijorgji\UnitTests\Managers\PHPUnit\Framework\MockObject\MockObject is not subtype of native type PHPUnit\Framework\MockObject\MockObject.
			identifier: property.phpDocType
			count: 1
			path: tests/unit/Managers/ManagerFactoryTest.php

		-
			rawMessage: 'Property kristijorgji\UnitTests\Managers\ManagerFactoryTest::$config is never read, only written.'
			identifier: property.onlyWritten
			count: 1
			path: tests/unit/Managers/ManagerFactoryTest.php

		-
			rawMessage: Property kristijorgji\UnitTests\Managers\ManagerFactoryTest::$config type has no value type specified in iterable type array.
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Managers/ManagerFactoryTest.php

		-
			rawMessage: Property kristijorgji\UnitTests\Managers\ManagerFactoryTest::$databaseAdapterFactory has unknown class kristijorgji\UnitTests\Managers\PHPUnit\Framework\MockObject\MockObject as its type.
			identifier: class.notFound
			count: 1
			path: tests/unit/Managers/ManagerFactoryTest.php

		-
			rawMessage: 'Constant SORT_ASC is not allowed for parameter #2 $flags of function sort.'
			identifier: argument.invalidConstant
			count: 1
			path: tests/unit/Managers/Php/AbstractPhpManagerTest.php

		-
			rawMessage: PHPDoc tag @var for property kristijorgji\UnitTests\Managers\Php\AbstractPhpManagerTestCase::$databaseAdapter with type kristijorgji\UnitTests\Managers\Php\PHPUnit\Framework\MockObject\MockObject is not subtype of native type PHPUnit\Framework\MockObject\MockObject.
			identifier: property.phpDocType
			count: 1
			path: tests/unit/Managers/Php/AbstractPhpManagerTestCase.php

		-
			rawMessage: Property kristijorgji\UnitTests\Managers\Php\AbstractPhpManagerTestCase::$config type has no value type specified in iterable type array.
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Managers/Php/AbstractPhpManagerTestCase.php

		-
			rawMessage: Property kristijorgji\UnitTests\Managers\Php\AbstractPhpManagerTestCase::$databaseAdapter has unknown class kristijorgji\UnitTests\Managers\Php\PHPUnit\Framework\MockObject\MockObject as its type.
			identifier: class.notFound
			count: 1
			path: tests/unit/Managers/Php/AbstractPhpManagerTestCase.php

		-
			rawMessage: 'Call to an undefined method kristijorgji\DbToPhp\Managers\Php\PhpEntityFactoryManager::expects().'
			identifier: method.notFound
			count: 4
			path: tests/unit/Managers/Php/PhpEntityFactoryManagerTest.php

		-
			rawMessage: 'Method kristijorgji\UnitTests\Managers\Php\PhpEntityFactoryManagerTest::selfPartialMock() has parameter $methodsToMock with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Managers/Php/PhpEntityFactoryManagerTest.php

		-
			rawMessage: PHPDoc tag @var for property kristijorgji\UnitTests\Managers\Php\PhpEntityFactoryManagerTest::$entityManager with type kristijorgji\UnitTests\Managers\Php\PHPUnit\Framework\MockObject\MockObject is not subtype of native type PHPUnit\Framework\MockObject\MockObject.
			identifier: property.phpDocType
			count: 1
			path: tests/unit/Managers/Php/PhpEntityFactoryManagerTest.php

		-
			rawMessage: 'Parameter #1 $databaseAdapter of class kristijorgji\DbToPhp\Managers\Php\PhpEntityFactoryManager constructor expects kristijorgji\DbToPhp\Db\Adapters\DatabaseAdapterInterface, PHPUnit\Framework\MockObject\MockObject given.'
			identifier: argument.type
			count: 1
			path: tests/unit/Managers/Php/PhpEntityFactoryManagerTest.php

		-
			rawMessage: 'Parameter #2 $typeMapper of class kristijorgji\DbToPhp\Managers\Php\PhpEntityFactoryManager constructor expects kristijorgji\DbToPhp\Mappers\Types\Php\PhpTypeMapperInterface, PHPUnit\Framework\MockObject\MockObject given.'
			identifier: argument.type
			count: 1
			path: tests/unit/Managers/Php/PhpEntityFactoryManagerTest.php

		-
			rawMessage: 'Parameter #3 $fileSystem of class kristijorgji\DbToPhp\Managers\Php\PhpEntityFactoryManager constructor expects kristijorgji\DbToPhp\FileSystem\FileSystemInterface, PHPUnit\Framework\MockObject\MockObject given.'
			identifier: argument.type
			count: 1
			path: tests/unit/Managers/Php/PhpEntityFactoryManagerTest.php

		-
			rawMessage: Property kristijorgji\UnitTests\Managers\Php\PhpEntityFactoryManagerTest::$config type has no value type specified in iterable type array.
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Managers/Php/PhpEntityFactoryManagerTest.php

		-
			rawMessage: Property kristijorgji\UnitTests\Managers\Php\PhpEntityFactoryManagerTest::$entityManager has unknown class kristijorgji\UnitTests\Managers\Php\PHPUnit\Framework\MockObject\MockObject as its type.
			identifier: class.notFound
			count: 1
			path: tests/unit/Managers/Php/PhpEntityFactoryManagerTest.php

		-
			rawMessage: 'Call to an undefined method kristijorgji\DbToPhp\Managers\Php\PhpEntityManager::expects().'
			identifier: method.notFound
			count: 5
			path: tests/unit/Managers/Php/PhpEntityManagerTest.php

		-
			rawMessage: 'Class kristijorgji\DbToPhp\Generators\Php\Configs\PhpClassGeneratorConfig constructor invoked with 5 parameters, 3-4 required.'
			identifier: arguments.count
			count: 2
			path: tests/unit/Managers/Php/PhpEntityManagerTest.php

		-
			rawMessage: 'Method kristijorgji\UnitTests\Managers\Php\PhpEntityManagerTest::getSampleProperties() return type has no value type specified in iterable type kristijorgji\DbToPhp\Rules\Php\PhpPropertiesCollection.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Managers/Php/PhpEntityManagerTest.php

		-
			rawMessage: 'Method kristijorgji\UnitTests\Managers\Php\PhpEntityManagerTest::selfPartialMock() has parameter $methodsToMock with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Managers/Php/PhpEntityManagerTest.php

		-
			rawMessage: 'Method kristijorgji\UnitTests\Managers\Php\PhpEntityManagerTest::testParseConfigForEntity() has parameter $config with no value type specified in iterable type array.'
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Managers/Php/PhpEntityManagerTest.php

		-
			rawMessage: 'Parameter #1 $databaseAdapter of class kristijorgji\DbToPhp\Managers\Php\PhpEntityManager constructor expects kristijorgji\DbToPhp\Db\Adapters\DatabaseAdapterInterface, PHPUnit\Framework\MockObject\MockObject given.'
			identifier: argument.type
			count: 1
			path: tests/unit/Managers/Php/PhpEntityManagerTest.php

		-
			rawMessage: 'Parameter #2 $typeMapper of class kristijorgji\DbToPhp\Managers\Php\PhpEntityManager constructor expects kristijorgji\DbToPhp\Mappers\Types\Php\PhpTypeMapperInterface, PHPUnit\Framework\MockObject\MockObject given.'
			identifier: argument.type
			count: 1
			path: tests/unit/Managers/Php/PhpEntityManagerTest.php

		-
			rawMessage: 'Parameter #3 $fileSystem of class kristijorgji\DbToPhp\Managers\Php\PhpEntityManager constructor expects kristijorgji\DbToPhp\FileSystem\FileSystemInterface, PHPUnit\Framework\MockObject\MockObject given.'
			identifier: argument.type
			count: 1
			path: tests/unit/Managers/Php/PhpEntityManagerTest.php

		-
			rawMessage: Property kristijorgji\UnitTests\Managers\Php\PhpEntityManagerTest::$config type has no value type specified in iterable type array.
			identifier: missingType.iterableValue
			count: 1
			path: tests/unit/Managers/Php/PhpEntityManagerTest.php
